h1 {
  color: rgb(9, 49, 225);
}
.nav_head{
  background-color:darkcyan;
  color : gold;
  text-indent: 3%;
}
.footer{
  background-color: chocolate;
  color: blueviolet;
  text-align: center;
  padding: 20px;
}